
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/foto.png" class="img-fluid" id="fotodeperfil"></div>
        <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Alberto Carlos Garcia</p>
    <p>Full Stack Developer Jr.</p>
        </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
         <h1>Acerca de mi</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquid voluptatem nisi doloremque consectetur necessitatibus. Sed, accusamus illo. Ab iure quo perferendis est a soluta labore nesciunt maxime temporibus vero.</p>
        </span>
    </div>
</div>