<div class="row">
        <div class="container">
        <div class="logo">
                <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href><img src="../../../assets/logo github.png" id="github"></a>
                <a href><img src="../../../assets/logofacebook.png" id="facebook"></a>
                <a href><img src="../../../assets/logoinstagram.png" id="instagram"></a>
                <a href><img src="../../../assets/in.png" id="linkein"></a>
                <a href><img src="../../../assets/youtube.png" id="youtube"></a>
                <button type="button" class="btn btn-outline-light">Login</button>
                </div>
        </div>
    </div>
    