<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11"></div>
    <div class="col-lg-11">
     <ul>
            <li>
                <h1>Trabajo 1 </h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel perspiciatis dolorum tenetur vitae totam beatae, illum iusto debitis excepturi distinctio! Ullam id sint neque molestiae repudiandae minima eum nulla beatae?

            </p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo 1 </h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel perspiciatis dolorum tenetur vitae totam beatae, illum iusto debitis excepturi distinctio! Ullam id sint neque molestiae repudiandae minima eum nulla beatae?

            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2 </h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel perspiciatis dolorum tenetur vitae totam beatae, illum iusto debitis excepturi distinctio! Ullam id sint neque molestiae repudiandae minima eum nulla beatae?

            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3 </h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel perspiciatis dolorum tenetur vitae totam beatae, illum iusto debitis excepturi distinctio! Ullam id sint neque molestiae repudiandae minima eum nulla beatae?

            </p>
        </ul>
        


    </div>
</div>
 
